setup_error.log
setup_output.log

/myenv/
data/
wandb/
Logs/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipython/
.ipynb_checkpoints/

# Editors
.vscode/

# Logs
*.log
logs/

# Compiled
*.out
*.err

# Outputs
dfs/
/cache/
cache/
checkpoints/
results/
models/
outputs/
meta2/